<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/nav')%>
    <div class="text-center">
      <h1>Messages</h1>
      <% if (numberMessages === 0){ %>
      <p>
        Unfortunately we have no messages yet, would you start sharing one?
      </p>
      <a class="btn btn-primary" href="/share">Share</a>
      <% } else { %>
      <p>Browse messages of other users!</p>

      <ul>
        <% for (const message of messages){ %>
        <section class="container text-center py-5 bg-body-secondary rounded mb-5">
          <li style="list-style: none;">

            <h2><%= message.title %></h2>
            <p><%= message.message %></p>
            <p ><%= message.name %></p>
          </li>
        </section>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
