<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/nav')%>
    <div id="messages">
      <h1>Messages</h1>
      <% if (numberMessages === 0){ %>
      <p>
        Unfortunately we have no messages yet, would you start sharing one?</p>

      <% } else { %>
      <p>Browse messages of other users!</p>

      <ul>
        <% for (const message of messages){ %>
        <section>
          <li>
            <h2><%= message.title %></h2>
            <p><%= message.message %></p>
            <p><%= message.name %></p>
          </li>
        </section>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
